div.inputs {
  border: 1px solid lightgray;
  width: 100%;
  height: 130px;
  margin-top: 5px;
  background-color: #EDEDED;

}




.kokoSuomi {
  width: 170px;
  position: relative;
  top: 12px;
  left: 0px;
}

img {
  position: relative;
  top: 200px;
}

.kaikkiOsastot {
  position: relative;
  left: -5px;
  top: 12px;
  width: 240px;
}

#input {
  position: relative;
  top: 12px;
  left: 5px;
  width:480px;
  margin: 15px;
  padding: 5px;

}

span {
  color: #5E85F2;
  font-weight: bold;
  position: relative;
  left: 340px;
}

button {
  color: white;
  background-color: #5E85F2;
  border: 1px solid #5E85F2;
  border-radius: 7px;
  width: 80px;
  height: 40px;
  position: relative;
  left: 360px;
}

select {
  padding: 5px;
  margin: 15;
}

.checkboxx {
    
    position: relative;
    top: 5%;
    left: 5%;
}